$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url('https://fonts.google.com/specimen/Do+Hyeon');

$black: #000;
$glitter: #e8e9f3;
$lavender: #c09bd8;
$purple: #9584bd;
$sunny: #fff07c;
$vanilla: #cacaaa;
$white: #fff;

body {
  background-color: $glitter;
  color: $purple;
  font-size: 20px;
}

.box {
  align-items: center;
  border: 1.5px dashed $white;
  color: $white;
  display: flex;
  height: 80px;
  justify-content: center;
}

.check1 {
  background-color: $sunny;
  color: $lavender;
}

.check2 {
  background-color: $lavender;
  color: $sunny;
}

.container {
background-color: $vanilla;
}

footer {
  background-color: $purple;
  color: $white;
  // display: flex;
  font-size: 10px;
  // justify-content: center;
  width: 95%;
}

.game{
  display: none;
}

.game-board {

}

#game-board {
  height: 0;
  padding-bottom: 25%;
  width: 25%;
}

header {
  align-self: center;
  background-color: $purple;
  color: $white;
  display: flex;
  font-family: Do Hyeon;
  justify-content: center;
  width: 95%;
}

.logged-in {
  display: none;
}

.logged-out {

}

.message {
  font-family: Do Hyeon;
  font-size: 30px;
}
