$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$black: #000;
$glitter: #e8e9f3;
$lavender: #c09bd8;
$purple: #9584bd;
$sunny: #fff07c;
$vanilla: #cacaaa;
$white: #fff;

body {
  background-color: $glitter;
}

.box {
  align-items: center;
  border: 1.5px dashed $white;
  color: $sunny;
  display: flex;
  height: 80px;
  justify-content: center;
}

.container {
}

.check1 {
  background-color: $sunny;
}

.check2 {
  background-color: $lavender;
}

.game-board{
  display: none;
}

#game-board {
  background-color: $vanilla;
  margin: 10px;
  padding: 10px;
}

.header {
  align-self: center;
  background-color: $purple;
  color: $white;
  width: 65%;
}

.logged-in {
  display: none;
}

.logged-out{

}

.userMessage {
  font-size: 30px;
}
